:root{
  --bg-dark:#535353;
  --bg-light:#535354;
  --bg-btn:#ce9456;
  --bg-icon-direction:#828282;
  --bg-site:#f1f2f6;
  --white:#ffffff;
  --black:#000000;
  --orange:#ffba00;
  --yellow:#ffda00;
  --marron:#483500;
  --black:#242424;
  --bgWidthHeader:calc((100% - 690px)/2); // 690: container - taille logo *2
}